.bar-graph {
    width: 650px;
    max-width: 900px;
    border-radius: 25px;
    height: 440px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
  .bar-graph-title {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #292b2c; /* Dark gray text color */
    margin-bottom: 60px;
  }
  
  .bar-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bar-chart canvas {
    width: 600px; /* Adjust the canvas width to its container */
  height: 440px; /* Adjust the canvas height to its container */
  max-width: 100%; /* Ensure it doesn't exceed its container */
  max-height: 440px; /* /* Set a maximum height if needed */
  }