.bg-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    mix-blend-mode: color-dodge;
    /* background: linear-gradient(to bottom, #595b5a, #1b3728); */
    background: linear-gradient(to bottom, #a8acaa, #343635);
  }

  .c-div{
    width: 1000px;
    height: 550px;
    margin-left: 30px;
    background-size: cover;
    background-image: url(w.png);
    margin-top: 20px;
    border-radius: 99px;
  } 

  .form-container {
    margin-left: 630px;
    margin-top: 100px;
    background-color: rgb(246, 221, 225);
    padding: 30px;
    width: 320px;
    height: 350px;
    border-radius: 10px; /* Set the width of the form container as needed */
  }
  
  form {
    display: flex;
    flex-direction: column
  
  }
  
  .form-group {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .form-groups {
    margin-bottom: 40px;
  }

  label {
    font-weight: bold;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: rgba(26, 25, 83, 0.921);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .google-btn {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 505px;
    height: 40px;
    background-color: white;
    border: 1px solid black ;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 21px;
    background-image: url('google-color-icon.png'); 
   background-size: contain; 
   background-repeat: no-repeat;
   background-position: center;
  }

  .google-btns {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 505px;
    height: 40px;
    background-color: white;
    border: 1px solid black ;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    background-image: url('apple-icon.png'); 
   background-size: contain; 
   background-repeat: no-repeat;
   background-position: center;
  }

  .button-container {
    display: flex;
    margin-bottom: 20px;
  }
  
  .wide-input {
    width: 264px; 
    border-radius: 7px;
    background-color: white;
  }

  .member{
    margin-top: 8px;
    color:black;
  }

  .continue{
    color: black;
  }
  

